<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img
            class="profile-img"
            src="{{data.img}}"
            data-edit="img"
            title="{{data.name}}"
        />
        <div class="header-fields">
            <h1 class="charname">
                <input
                    name="name"
                    type="text"
                    value="{{data.name}}"
                    placeholder="Name"
                />
            </h1>
            <div class="resource">
                <label>Rarity</label>
                <select name="data.rarity">
                    {{#select data.data.rarity}}
                    <option value="Common">Common</option>
                    <option value="Uncommon">Uncommon</option>
                    <option value="Rare">Rare</option>
                    <option value="Legendary">Legendary</option>
                    <option value="Supreme">Supreme</option>
                    {{/select}}
                </select>
            </div>
            <div class="resource">
                <label>Quantity</label>
                <input
                    type="number"
                    name="data.quantity"
                    value="{{systemData.quantity}}"
                />
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=systemData.description target="data.description"
            button=true owner=owner editable=editable rollData=rollData}}
        </div>
    </section>
</form>
