.quest {
    /* Sheet Tabs */
    /* Items List */
    /* Attributes */
    font-family: "Ovo", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}

.quest .window-content {
    height: 100%;
    padding: 5px;
    overflow-y: hidden;
    line-height: 1.2rem;
    font-size: 1.1rem;
}
.quest form {
    height: 100%;
    overflow: scroll;
}

.message-sender h4 {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
}

.quest .sheet-header {
    flex: 0 0 100px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.quest .sheet-header .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
}
.quest .sheet-header .header-fields {
    flex: 1;
    height: 100px;
}
.quest .sheet-header h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
}
.quest .sheet-header h1.charname input {
    width: 100%;
    height: 100%;
    margin: 0;
}
.quest .resource {
    width: 50%;
    height: 40px;
    margin-top: 10px;
    float: left;
    text-align: center;
}
.quest .resource input {
    width: 100px;
    height: 28px;
}
.quest .tabs {
    flex: 0 0 40px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.quest .tabs .item {
    line-height: 40px;
    font-weight: bold;
}
.quest .tabs .item.active {
    text-decoration: underline;
    text-shadow: none;
}
.quest .sheet-body {
    overflow: hidden;
}
.quest .sheet-body .tab {
    height: 100%;
    overflow-y: auto;
}
.quest .editor,
.quest .editor-content {
    height: 100%;
}
.quest .item-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: auto;
}
.quest .item-list .item {
    min-height: 30px;
    line-height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #bbb;
    align-items: stretch;
}
.quest .item-list .item img {
    flex: 0 0 24px;
    margin-right: 5px;
}
.quest .item-list .item-name {
    margin: 0;
}
.quest .item-list .item-controls {
    flex: 0 0 36px;
}
.quest .item-list .item-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    flex: 2;
    justify-content: flex-start;
}
.quest .item-list .item-button {
    line-height: 1;
    font-size: 11px;
    flex: none;
    width: auto;
}
.quest .attributes {
    position: relative;
}
.quest .attributes .attribute-control,
.quest .attributes .group-control {
    flex: 0 0 20px;
    text-align: center;
    line-height: 28px;
    border: none;
}
.quest .attributes .attribute-roll {
    flex: 0 0 20px;
    text-align: center;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quest .attributes .group-prefix {
    height: 31px;
    margin-right: 10px;
}
.quest .attributes .button {
    width: 100%;
    flex: 1;
    margin: 0;
    background: rgba(0, 0, 0, 0.1);
    border: 2px groove #f0f0e0;
    border-radius: 3px;
    font-size: 14px;
    line-height: 28px;
    display: block;
}
.quest .attributes .attribute-key {
    background: transparent;
    border: none;
}
.quest .attributes-header {
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 5px;
    margin: 5px 0;
    background: #cfcdc2;
    border: 1px solid #aaa;
    border-radius: 2px;
    text-align: left;
    font-weight: bold;
}
.quest .attributes-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.quest .attributes-list li > * {
    margin: 0 3px;
    height: 28px;
    line-height: 24px;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
}
.quest .attributes-list .attribute-col label {
    font-size: 10px;
    text-align: center;
    line-height: 1;
}
.quest .attributes-list .attribute-col input {
    font-size: 11px;
    text-align: center;
    line-height: 1;
    height: 50%;
}
.quest .attribute input[type="text"]::placeholder,
.quest .group-header input[type="text"]::placeholder {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}
.quest .attribute input[type="text"]:focus::placeholder,
.quest .group-header input[type="text"]:focus::placeholder {
    opacity: 1;
}
.quest .group-controls {
    margin: 5px;
}
.quest .groups-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.quest .group {
    margin: 5px 0 0;
    padding: 0;
}
.quest .group-header {
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 2px 5px;
}
.quest .group-key,
.quest .group-label {
    font-weight: bold;
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    border-radius: 0;
    margin-right: 6px;
}
.quest .group-key {
    opacity: 0.75;
}
.quest .group-label {
    flex: 2;
}
.quest .group-dtype {
    height: 24px;
    flex: 0 0 116px;
    margin: 0 5px;
}
.quest.sheet.actor {
    min-width: 560px;
    min-height: 420px;
}
.quest.sheet.item {
    min-width: 460px;
    min-height: 400px;
}

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alegreya:wght@700;900&family=Ovo&display=swap");

.verylong {
    width: 400px;
    padding: inherit;
}
.long {
    width: 300px;
}
.medium {
    width: 100px;
}
.short {
    width: 50px;
    text-align: center;
}

.dropquote {
    font-family: "Alegreya", serif;
    font-family: "Alegreya Sans SC", sans-serif;
    font-family: "Ovo", serif;
}

.chat-card.generic-roll {
    text-align: center;
}
.chat-card.generic-roll .card-header {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
}
.status {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    text-align: center;
}
.triumph {
    color: #e99d36;
    font-weight: 700;
}
.success {
    color: #3d8f57;
    font-weight: 700;
}
.tough-choice {
    color: #454f4e;
    font-weight: 700;
}
.catastrophe {
    color: #f04828;
    font-weight: 700;
}
.dice-total {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-size: 1.9rem;
}

.costd {
    flex: 0 0 auto;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    margin-right: 20px;
    padding-left: 10px;
    border-radius: 3px 0px 0px 3px;
    background: #222831;
    color: #fff;
    height: 20px;
    line-height: 1rem;
    position: relative;
    padding-right: 5px;
    width: 1.8rem;
}
.costd:after {
    content: "";
    float: right;
    position: absolute;
    top: 0;
    right: -11px;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #222831;
    border-style: solid;
    border-width: 10px 0px 10px 11px;
}

.cost {
    background-image: url(../assets/pointedrec.svg);
    background-repeat: no-repeat;
    min-width: 42px;
    padding-left: 7px;
    display: inline-block;
    color: #fff;
    flex: 0 0 auto;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: bold;
    margin-right: 5px;
}

.damage {
    min-width: 22px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    color: #dc2027;
    border: 3px solid#dc2027;
    flex: 0 0 auto;
    font-family: "Alegreya Sans", sans-serif;
    margin-right: 5px;
}

.ability-name h2 {
    font-family: "Alegreya", serif;
    font-weight: 900;
    text-align: center;
}

.quest .abilitysheet-header {
    flex: 0 0 175px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.quest .abilitysheet-header .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
}
.quest .abilitysheet-header .header-fields {
    flex: 1;
    height: 100px;
}
.quest .abilitysheet-header h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
}
.quest .abilitysheet-header h1.charname input {
    width: 100%;
    height: 100%;
    margin: 0;
}

.quest .detailsheet-header {
    flex: 0 0 50px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.quest .detailsheet-header .header-fields {
    flex: 1;
    height: 100px;
}
.quest .detailsheet-header h1.charname input {
    width: 100%;
    height: 100%;
    margin: 0;
}

.Uncommon {
    color: #000;
}

.Rare {
    color: #0070dd;
}
.Legendary {
    color: #a335ee;
}

.Supreme {
    color: #ff8000;
}

.right {
    text-align: right;
}

.combat-header {
    text-transform: capitalize;
    height: 30px;
    padding-top: 5px;
    text-align: center;
}

.npc {
    text-transform: uppercase;
}

.grid,
.grid-2col {
    display: grid;
    grid-column: span 2 / span 2;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    margin: 10px 0;
    padding: 0;
}

.grid-3col {
    grid-column: span 3 / span 3;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
    grid-column: span 4 / span 4;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
    grid-column: span 5 / span 5;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
    grid-column: span 6 / span 6;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
    grid-column: span 7 / span 7;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
    grid-column: span 8 / span 8;
    grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
    grid-column: span 9 / span 9;
    grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
    grid-column: span 10 / span 10;
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
    grid-column: span 11 / span 11;
    grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
    grid-column: span 12 / span 12;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}
